doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/addmovie.css')

    title Add New Movie
  body
    script.
      const username = localStorage.getItem('registeredUsername');
      const email = localStorage.getItem('registeredEmail');

      if (!username || !email) {
        window.location.href = '/login';
      }
    h1 Add a New Movie

    form(action="/movies/add" method="POST")
      div
        label(for="name") Movie Name:
        input(type="text" name="name" id="name" required)
      div
        label(for="description") Description:
        textarea(name="description" id="description" required)
      div
        label(for="year") Year:
        input(type="number" name="year" id="year" required)
      div
        label(for="genres") Genres (comma separated):
        input(type="text" name="genres" id="genres" required)
      div
        label(for="rating") Rating:
        input(type="number" name="rating" id="rating" step="0.1" min="0" max="10" required)
      div
        button(type="submit") Add Movie

    a(href="/movies") Back to Movie List
