doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/addmovie.css')

    title Login
  body
    h1 Login

    form(action="/login" method="POST" id="loginForm")

      div
        label(for="email") Email:
        input(type="email" name="email" id="email" required)
      div
        label(for="password") Password:
        input(type="password" name="password" id="password" required)
      div
        button(type="submit") Login 

    br
    a(href="/register") Register

    script.
      // Intercept form submission to store user info in localStorage
      document.getElementById('loginForm').addEventListener('submit', function(event) {
        const email = document.getElementById('email').value;
        const username = document.getElementById('username').value;

        // Store basic user info in localStorage
        localStorage.setItem('registeredUsername', username);
        localStorage.setItem('registeredEmail', email);
        
        // Allow form to submit as usual
      });
